/* line 17, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.688em;
}

/* line 53, content/assets/stylesheets/documentation.scss */
.mono, pre, code, tt {
  font-family: 'Open Sans', sans-serif;
}

/* line 57, content/assets/stylesheets/documentation.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background: #FFF;
  font-size: 16px;
}

/* line 63, content/assets/stylesheets/documentation.scss */
h1 {
  font-size: 2.5em;
  line-height: 0.675em;
  margin-bottom: 0.675em;
}

/* line 69, content/assets/stylesheets/documentation.scss */
p {
  margin-top: 1.688em;
  margin-bottom: 1.688em;
}

/* line 74, content/assets/stylesheets/documentation.scss */
strong {
  font-weight: bold;
}

/* line 78, content/assets/stylesheets/documentation.scss */
em {
  font-style: italic;
}

/* line 82, content/assets/stylesheets/documentation.scss */
a {
  text-decoration: none;
  color: #4eadd0;
  text-decoration: underline;
}
/* line 86, content/assets/stylesheets/documentation.scss */
a:hover {
  text-decoration: none;
}
/* line 87, content/assets/stylesheets/documentation.scss */
a:visited {
  color: #4eadd0;
}

/* line 94, content/assets/stylesheets/documentation.scss */
pre {
  margin-bottom: 1.688em;
  margin-top: 1.688em;
  padding-bottom: 0.844em;
  padding-top: 0.844em;
}

/* line 101, content/assets/stylesheets/documentation.scss */
code {
  background: #f3f3f3;
  font-size: 14px;
}

/* line 106, content/assets/stylesheets/documentation.scss */
.code {
  background: #f9f9f9;
  line-height: 1.25em;
  font-size: 14px;
}

/* line 114, content/assets/stylesheets/documentation.scss */
.content li {
  margin-left: 1.2em;
}
/* line 118, content/assets/stylesheets/documentation.scss */
.content ul li {
  list-style: disc;
}
/* line 122, content/assets/stylesheets/documentation.scss */
.content ol > li {
  list-style: decimal;
}
/* line 126, content/assets/stylesheets/documentation.scss */
.content img {
  max-width: 44em;
}

/* line 132, content/assets/stylesheets/documentation.scss */
header, footer {
  clear: both;
}

/* line 133, content/assets/stylesheets/documentation.scss */
header {
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 0 0 1em 1em;
  -moz-border-radius: 0 0 1em 1em;
  -ms-border-radius: 0 0 1em 1em;
  -o-border-radius: 0 0 1em 1em;
  border-radius: 0 0 1em 1em;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 25.424%;
  margin-left: 15em;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 38, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 141, content/assets/stylesheets/documentation.scss */
header .name {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 3.125em;
  line-height: 1.08em;
  color: #393f48;
  font-weight: bold;
  text-align: left;
}
/* line 147, content/assets/stylesheets/documentation.scss */
header .name img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  float: left;
}
/* line 153, content/assets/stylesheets/documentation.scss */
header .name span.title {
  line-height: 1.3em;
}
/* line 156, content/assets/stylesheets/documentation.scss */
header .name span.tagline {
  font-family: 'Open Sans', sans-serif;
  font-size: .35em;
  line-height: 1.35em;
  display: block;
}

/* line 165, content/assets/stylesheets/documentation.scss */
nav {
  width: 23.729%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  position: fixed;
  width: 13.75em;
  top: 0;
  bottom: 0;
  overflow: auto;
  margin-left: -1em;
  padding-left: 1em;
  padding-top: 1em;
  background: #0d1d23;
  border-right: 0.25em solid #4eadd0;
}
/* line 178, content/assets/stylesheets/documentation.scss */
nav img {
  margin-bottom: 20px;
}
/* line 182, content/assets/stylesheets/documentation.scss */
nav h2 {
  font-size: 1.25em;
  line-height: 1.35em;
}
/* line 186, content/assets/stylesheets/documentation.scss */
nav a {
  text-decoration: none;
}
/* line 189, content/assets/stylesheets/documentation.scss */
nav a:hover {
  text-decoration: none;
}
/* line 193, content/assets/stylesheets/documentation.scss */
nav #toc > ol {
  margin-left: -1em;
}
/* line 196, content/assets/stylesheets/documentation.scss */
nav #toc > ol li {
  display: block;
}
/* line 198, content/assets/stylesheets/documentation.scss */
nav #toc > ol li a {
  padding: 0 16px;
  font-size: 1.25em;
  line-height: 1.35em;
  padding-bottom: 0.675em;
  padding-top: 0.675em;
  display: block;
  color: white;
}
/* line 206, content/assets/stylesheets/documentation.scss */
nav #toc > ol li a:visited {
  color: white;
}
/* line 212, content/assets/stylesheets/documentation.scss */
nav #toc > ol > li.active-section > a, nav #toc > ol > li > a:hover {
  background: #4eadd0;
}
/* line 216, content/assets/stylesheets/documentation.scss */
nav #toc > ol > li li a {
  display: block;
  padding: 0 1em;
  font-size: 0.875em;
  line-height: 1.929em;
  padding-bottom: 0.482em;
  padding-top: 0.482em;
}
/* line 226, content/assets/stylesheets/documentation.scss */
nav #toc > ol ol a:hover, nav #toc > ol ol li.active > a {
  background: white;
  color: #393f48;
}
/* line 232, content/assets/stylesheets/documentation.scss */
nav #toc > ol ol ol a {
  padding-left: 2em;
}
/* line 235, content/assets/stylesheets/documentation.scss */
nav #toc > ol ol ol ol a {
  padding-left: 3em;
}
/* line 241, content/assets/stylesheets/documentation.scss */
nav #search {
  margin-bottom: 0.844em;
}
/* line 242, content/assets/stylesheets/documentation.scss */
nav #search input {
  padding: 3px 0;
  font-size: 1em;
  line-height: 1.688em;
  font-family: 'Open Sans', sans-serif;
  width: 95%;
}

/* line 252, content/assets/stylesheets/documentation.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1.688em;
  margin-bottom: 1.688em;
  padding-top: 1.688em;
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-radius: 0 1em 1em 0;
  -ms-border-radius: 0 1em 1em 0;
  -o-border-radius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
  background: white;
  margin-left: 0;
}
/* line 38, /Users/alexhillman/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 261, content/assets/stylesheets/documentation.scss */
.page .content {
  width: 74.576%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  float: left;
  margin-left: 15em;
}
/* line 266, content/assets/stylesheets/documentation.scss */
.page .content p {
  margin-left: 40px;
}
/* line 270, content/assets/stylesheets/documentation.scss */
.page .content h2 {
  font-size: 2em;
  line-height: 1.688em;
  margin-top: 0.844em;
  margin-bottom: 0.844em;
  border-left: 8px solid #f9ae12;
  padding-left: 8px;
  margin-left: -16px;
  clear: both;
}
/* line 280, content/assets/stylesheets/documentation.scss */
.page .content h3 {
  font-size: 1.5em;
  line-height: 1.125em;
  margin-top: 1.125em;
  margin-bottom: 1.125em;
  border-left: 4px solid #0d1d23;
  padding-left: 12px;
  margin-left: -16px;
  clear: both;
}
/* line 290, content/assets/stylesheets/documentation.scss */
.page .content h4 {
  font-weight: bold;
  margin-top: 1.688em;
  border-left: 2px solid #0d1d23;
  padding-left: 14px;
  margin-left: -16px;
  clear: both;
}
/* line 299, content/assets/stylesheets/documentation.scss */
.page .content blockquote {
  margin-top: 1.688em;
  # border-left: 5px solid #0d1d23;
  font-style: italic;
  padding: 5px 50px 5px 20px;
  margin-left: -16px;
  background: #fefefa;
  clear: both;
}
/* line 307, content/assets/stylesheets/documentation.scss */
.page .content blockquote ul {
  margin-left: 55px;
}
/* line 309, content/assets/stylesheets/documentation.scss */
.page .content blockquote ul li {
  margin: 10px 0;
}
/* line 313, content/assets/stylesheets/documentation.scss */
.page .content blockquote h4 {
  margin-left: -20px;
}
/* line 318, content/assets/stylesheets/documentation.scss */
.page .content ol {
  margin: 20px 0 20px 55px;
}
/* line 321, content/assets/stylesheets/documentation.scss */
.page .content ol li p {
  margin: 15px 0;
}
/* line 324, content/assets/stylesheets/documentation.scss */
.page .content ol li blockquote {
  margin-left: -90px;
}
/* line 329, content/assets/stylesheets/documentation.scss */
.page .content hr {
  margin-top: 40px;
  border: 0;
  background-color: #4eadd0;
  height: 2px;
  clear: both;
}
/* line 336, content/assets/stylesheets/documentation.scss */
.page .content .photo-right {
  float: right;
  width: 150px;
}

/* line 343, content/assets/stylesheets/documentation.scss */
.generated {
  float: left;
  margin-top: -20px;
  margin-left: 22em;
  font-style: italic;
  font-size: .8em;
}

/* line 350, content/assets/stylesheets/documentation.scss */
div.generated:before {
  content: "Last Updated: ";
}

/* line 355, content/assets/stylesheets/documentation.scss */
#tipue_search_content_title {
  margin-top: 1.688em;
}

/* line 358, content/assets/stylesheets/documentation.scss */
#tipue_search_content h2 {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 20px;
}
/* line 362, content/assets/stylesheets/documentation.scss */
#tipue_search_content h2 a {
  text-decoration: none;
}
